Flask==2.3.3
influxdb==5.3.1
influxdb-client
python-snappy==0.7.3
gunicorn==21.2.0
prometheus-client==0.17.1
protobuf==5.26.1
python-dateutil==2.8.2
pytest==7.4.2
pytest-flask==1.2.0
requests==2.31.0
grpcio-tools==1.64.1

# Dipendenze aggiuntive per testing e altro 